<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
<meta name="twitter:widgets:theme" content="light">

<meta property="og:type"          content="website" />
<meta property="og:title"         content="<%= UNITE_TITLE %>" />
<meta property="og:description"   content="<%= UNITE_DESCRIPTION %>" />
<meta property="og:url"           content="<%= UNITE_ROOT_URL %>" />
<meta property="og:image"         content="<%= image_url(UNITE_LOGO) %>" />

<link rel="shortcut icon" type="image/x-icon" href="/images/theme-mountain-favicon.ico">

<!-- Font -->
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:300,400,500,700' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
  <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title><%= _("Save the Planet - Unite the Armies!") %></title>

<script>
  var recently_added_votes_path = '<%= recently_added_votes_path(format: :json) %>'
</script>

<%= javascript_importmap_tags %>

<%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
<%= stylesheet_link_tag 'flags.css', "data-turbo-track": "reload" %>
<%# stylesheet_link_tag 'bootstrap-3.3.4.css', "data-turbo-track": "reload" %>

<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery_ujs' %>
<%= javascript_include_tag 'countries' %>
<%= javascript_include_tag 'timber.master.min.js' %>
<%= javascript_include_tag 'flash_messages' %>
<%= javascript_include_tag 'jquery.cslider' %>
<%= javascript_include_tag 'jquery.flexisel' %>
<%= javascript_include_tag 'modernizr.custom.28468' %>
<%= javascript_include_tag 'owl.carousel.js' %>
<%= javascript_include_tag 'responsive-nav' %>
<%= javascript_include_tag 'responsiveslides.min' %>
<%= javascript_include_tag 'slideshow.js' %>
<%= javascript_include_tag 'application', type: 'module' %>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= csrf_meta_tags %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10604388-4', 'auto');
  ga('send', 'pageview');
</script>

<%
  recaplocale = (locale == "zh") ? "zh-CH" : locale
%>
<script src='https://www.google.com/recaptcha/api.js?hl=<%= recaplocale %>'></script>
